* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 6vh;
    background-color: #dfdfdf;
}

header {
    height: 18vh;
    background-color: #fecc81;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 0.5vw solid #957a47;
    box-shadow: 0rem 0.1vw 1vw black;
}

header img {
    height: 20vh;
    width: 20vw;
}

header h1 {
    font-size: 2.5vw;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 4vw;
    padding-right: 12vw;
}

.informacoes {
    background-color: #fecc81;
    height: 72vh;
    width: 55vw;
    border-radius: 1vw;
    border: 0.5vw solid #957a47;
    text-align: center;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    overflow: hidden;
    box-shadow: 0rem 0.1vw 1vw black;
}

.informacoes img {
    height: 30vh;
    width: 20vw;
}

.informacoes h2 {
    font-weight: bold;
    font-size: 2.5vw;
}

.informacoes span {
    font-size: 1vw;
}

.selecao {
    height: 72vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link {
    background-color: #fecc81;
    height: 16vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    border-radius: 1vw;
    border: 0.5vw solid #957a47;
    box-shadow: 0rem 0.1vw 1vw black;
    margin-left: 3vw;
}

a {
    color: black;
    font-weight: bold;
}

@media (max-width: 820px) {
    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        background-color: #dfdfdf;
        overflow: hidden;
    }

    header {
        height: 20vh;
        gap: 10vw;
        padding: 6vw;
    }

    header img {
        height: 15vh;
        width: 30vw;
    }

    header h1 {
        font-size: 6vw;
    }

    main {
        display: flex;
        flex-direction: column;
        padding-right: 0;
        padding-inline: 4vw;
    }

    .informacoes {
        height: 70vw;
        width: 100%;
        align-items: center;
    }

    .informacoes img {
        height: 26vh;
        width: 35vw;
    }

    .informacoes h2 {
        font-size: 5vw;
    }

    .informacoes span {
        font-size: 2.2vw;
        width: 80vw;
    }

    .selecao {
        height: 28vh;
        width: 100%;
    }

    .link {
        height: 8vw;
        font-size: 5vw;
        margin-right: 3vw;
    }
}
